openapi: 3.0.0
info:
  title: Open DART API (Optimized)
  description: |
    한국 금융감독원 전자공시시스템(DART) Open API 명세서 (최적화 버전)
    
    이 API는 한국 상장기업의 공시정보, 재무정보, 지분정보 등을 제공합니다.
    
    ## 최적화
    - JSON 형식을 우선적으로 사용 (XML 중복 제거)
    - XML은 ZIP 파일 제공 시에만 사용
    
    ## 인증
    모든 API 요청에는 발급받은 API 인증키(crtfc_key)가 필요합니다.
    
    ## API 그룹
    - DS001: 공시정보
    - DS002: 사업보고서 주요정보
    - DS003: 상장기업 재무정보
    - DS004: 지분공시 종합정보
    - DS005: 지분공시 상세정보
    - DS006: 증권신고서 정보
  version: "1.0.0"
  contact:
    name: DART API Support
    url: https://opendart.fss.or.kr
servers:
  - url: https://opendart.fss.or.kr/api
    description: DART Open API Production Server

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: crtfc_key
      description: 발급받은 API 인증키 (40자리)

  parameters:
    crtfc_key:
      name: crtfc_key
      in: query
      required: true
      description: 발급받은 인증키(40자리)
      schema:
        type: string
        minLength: 40
        maxLength: 40
        
    corp_code:
      name: corp_code
      in: query
      required: true
      description: 공시대상회사의 고유번호(8자리)
      schema:
        type: string
        minLength: 8
        maxLength: 8
        
    bsns_year:
      name: bsns_year
      in: query
      required: true
      description: 사업연도(4자리) ※ 2015년 이후 부터 정보제공
      schema:
        type: string
        pattern: '^\d{4}$'
        example: "2023"
        
    reprt_code:
      name: reprt_code
      in: query
      required: true
      description: |
        보고서 코드
        - 11013: 1분기보고서
        - 11012: 반기보고서
        - 11014: 3분기보고서
        - 11011: 사업보고서
      schema:
        type: string
        enum: ["11013", "11012", "11014", "11011"]
        
    bgn_de:
      name: bgn_de
      in: query
      required: true
      description: 검색시작 접수일자(YYYYMMDD)
      schema:
        type: string
        pattern: '^\d{8}$'
        example: "20230101"
        
    end_de:
      name: end_de
      in: query
      required: true
      description: 검색종료 접수일자(YYYYMMDD)
      schema:
        type: string
        pattern: '^\d{8}$'
        example: "20231231"
        
    rcept_no:
      name: rcept_no
      in: query
      required: true
      description: 접수번호(14자리) ※ 공시뷰어 연결에 이용
      schema:
        type: string
        pattern: '^\d{14}$'
        
    reprt_code_xbrl:
      name: reprt_code
      in: query
      required: true
      description: |
        보고서 코드
        - 11013: 1분기보고서
        - 11012: 반기보고서
        - 11014: 3분기보고서
        - 11011: 사업보고서
        - 11007: 정기공시(통합본)
        - 11005: 정기공시(잠정)
      schema:
        type: string
        enum: ["11013", "11012", "11014", "11011", "11007", "11005"]
        
    fs_div:
      name: fs_div
      in: query
      required: true
      description: |
        개별/연결구분
        - CFS: 연결재무제표
        - OFS: 재무제표(개별)
      schema:
        type: string
        enum: ["CFS", "OFS"]
        
    idx_cl_code:
      name: idx_cl_code
      in: query
      required: true
      description: |
        지표구분
        - M210000: 수익성지표
        - M220000: 안정성지표
        - M230000: 성장성지표
        - M240000: 활동성지표
      schema:
        type: string
        enum: ["M210000", "M220000", "M230000", "M240000"]
        
    sj_div:
      name: sj_div
      in: query
      required: true
      description: |
        재무제표구분
        - BS: 재무상태표
        - IS: 손익계산서
        - CIS: 포괄손익계산서
        - CF: 현금흐름표
        - SCE: 자본변동표
      schema:
        type: string
        enum: ["BS", "IS", "CIS", "CF", "SCE"]

  schemas:
    BaseResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: |
            API 호출 결과 코드
            - 000: 정상
            - 010: 등록되지 않은 키
            - 011: 사용할 수 없는 키
            - 012: 접근할 수 없는 IP
            - 013: 요청 제한 초과
            - 020: 요청 제한 초과(일별)
            - 100: 필드의 부적절한 값
            - 800: 원활한 공시서비스를 위해 일시적으로 제한
            - 900: 정의되지 않은 오류
          example: "000"
        message:
          type: string
          description: 상태 메시지
          example: "정상"
          
    CompanyProfile:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            corp_name:
              type: string
              description: 정식회사명
            corp_name_eng:
              type: string
              description: 영문회사명
            stock_name:
              type: string
              description: 종목명(상장사) 또는 약식명(기타)
            stock_code:
              type: string
              description: 상장회사인 경우 주식의 종목코드
            ceo_nm:
              type: string
              description: 대표자명
            corp_cls:
              type: string
              description: |
                법인구분
                - Y: 유가증권시장
                - K: 코스닥시장
                - N: 코넥스시장
                - E: 기타
            jurir_no:
              type: string
              description: 법인등록번호
            bizr_no:
              type: string
              description: 사업자등록번호
            adres:
              type: string
              description: 주소
            hm_url:
              type: string
              description: 홈페이지
            ir_url:
              type: string
              description: IR홈페이지
            phn_no:
              type: string
              description: 전화번호
            fax_no:
              type: string
              description: 팩스번호
            induty_code:
              type: string
              description: 업종코드
            est_dt:
              type: string
              description: 설립일(YYYYMMDD)
            acc_mt:
              type: string
              description: 결산월(MM)
              
    DisclosureSearchItem:
      type: object
      properties:
        corp_cls:
          type: string
          description: 법인구분
        corp_name:
          type: string
          description: 회사명
        corp_code:
          type: string
          description: 고유번호
        stock_code:
          type: string
          description: 종목코드
        report_nm:
          type: string
          description: 보고서명
        rcept_no:
          type: string
          description: 접수번호
        flr_nm:
          type: string
          description: 공시제출인명
        rcept_dt:
          type: string
          description: 접수일자
        rm:
          type: string
          description: 비고
          
    DisclosureSearchResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            page_no:
              type: integer
              description: 페이지 번호
            total_count:
              type: integer
              description: 총 건수
            total_page:
              type: integer
              description: 총 페이지수
            list:
              type: array
              items:
                $ref: '#/components/schemas/DisclosureSearchItem'
                
    FinancialStatementItem:
      type: object
      properties:
        rcept_no:
          type: string
          description: 접수번호
        reprt_code:
          type: string
          description: 보고서 코드
        bsns_year:
          type: string
          description: 사업연도
        corp_code:
          type: string
          description: 고유번호
        stock_code:
          type: string
          description: 종목코드
        reprt_code_nm:
          type: string
          description: 보고서명
        account_nm:
          type: string
          description: 계정명
        fs_div:
          type: string
          description: 개별/연결구분
        fs_nm:
          type: string
          description: 개별/연결명
        sj_div:
          type: string
          description: 재무제표구분
        sj_nm:
          type: string
          description: 재무제표명
        thstrm_amount:
          type: string
          description: 당기금액
        frmtrm_amount:
          type: string
          description: 전기금액
        bfefrmtrm_amount:
          type: string
          description: 전전기금액
        ord:
          type: string
          description: 계정과목 정렬순서
          
    FinancialStatementResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/FinancialStatementItem'
                
    MajorStockItem:
      type: object
      properties:
        rcept_no:
          type: string
          description: 접수번호
        rcept_dt:
          type: string
          description: 접수일자
        corp_code:
          type: string
          description: 고유번호
        corp_name:
          type: string
          description: 회사명
        report_tp:
          type: string
          description: 보고구분
        repror:
          type: string
          description: 대표보고자
        stkqy:
          type: string
          description: 보유주식등의 수
        stkqy_irds:
          type: string
          description: 보유주식등의 증감
        stkrt:
          type: string
          description: 보유비율
        stkrt_irds:
          type: string
          description: 보유비율 증감
        ctr_stkqy:
          type: string
          description: 주요체결 주식등의 수
        ctr_stkrt:
          type: string
          description: 주요체결 보유비율
        report_resn:
          type: string
          description: 보고사유
          
    MajorStockResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/MajorStockItem'

paths:
  # DS001: 공시정보 (XML-only endpoints preserved)
  /corpCode.xml:
    get:
      tags:
        - DS001 공시정보
      summary: 고유번호
      description: |
        Open DART에서 사용하는 모든 상장법인 및 기타법인의 고유번호 전체를 파일로 제공합니다.
        고유번호는 ZIP 파일로 제공되며, 압축해제 시 CORPCODE.xml 파일을 확인할 수 있습니다.
      operationId: get_corp_code
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
      responses:
        '200':
          description: 고유번호 파일 (ZIP)
          content:
            application/zip:
              schema:
                type: string
                format: binary
                
  /company.json:
    get:
      tags:
        - DS001 공시정보
      summary: 기업개황
      description: 기업의 개황정보를 제공합니다
      operationId: get_company_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProfile'
                
  /document.xml:
    get:
      tags:
        - DS001 공시정보
      summary: 공시서류원본파일
      description: |
        전자공시시스템에 공시된 서류의 원본파일을 제공합니다.
        원본파일은 ZIP 파일로 제공되며, 문서번호_사업보고서.xml과 문서번호.zip(첨부파일)으로 구성됩니다.
      operationId: get_document
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/rcept_no'
      responses:
        '200':
          description: 공시서류 원본파일 (ZIP)
          content:
            application/zip:
              schema:
                type: string
                format: binary
                
  /list.json:
    get:
      tags:
        - DS001 공시정보
      summary: 공시검색
      description: 공시 유형별, 회사별, 날짜별 등 다양한 조건으로 공시정보를 검색합니다
      operationId: search_disclosure_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - name: corp_code
          in: query
          description: 공시대상회사의 고유번호(8자리) ※ 개발가이드 > 공시정보 > 고유번호 API조회 가능
          schema:
            type: string
            minLength: 8
            maxLength: 8
        - name: bgn_de
          in: query
          description: 검색시작 접수일자(YYYYMMDD) ※ 없으면 종료일(end_de)을 정하지 않은 경우 당일로부터 1개월 전으로 설정
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: end_de
          in: query
          description: 검색종료 접수일자(YYYYMMDD) ※ 없으면 당일로 설정
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: last_reprt_at
          in: query
          description: |
            최종보고서만 검색여부
            - Y: 최종보고서만
            - N: 모든 보고서 (기본값)
          schema:
            type: string
            enum: ["Y", "N"]
            default: "N"
        - name: pblntf_ty
          in: query
          description: |
            공시유형
            - A: 정기공시
            - B: 주요사항보고
            - C: 발행공시
            - D: 지분공시
            - E: 기타공시
            - F: 외부감사관련
            - G: 펀드공시
            - H: 자산유동화
            - I: 거래소공시
            - J: 공정위공시
          schema:
            type: string
            enum: ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"]
        - name: pblntf_detail_ty
          in: query
          description: 공시상세유형
          schema:
            type: string
        - name: corp_cls
          in: query
          description: |
            법인구분
            - Y: 유가증권시장
            - K: 코스닥시장
            - N: 코넥스시장
            - E: 기타
          schema:
            type: string
            enum: ["Y", "K", "N", "E"]
        - name: sort
          in: query
          description: |
            정렬기준
            - date: 접수일자
            - crp: 회사명
            - rpt: 보고서명
          schema:
            type: string
            enum: ["date", "crp", "rpt"]
            default: "date"
        - name: sort_mth
          in: query
          description: |
            정렬순서
            - desc: 내림차순 (기본값)
            - asc: 오름차순
          schema:
            type: string
            enum: ["desc", "asc"]
            default: "desc"
        - name: page_no
          in: query
          description: 페이지 번호 (기본값 1)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_count
          in: query
          description: 페이지당 건수 (기본값 10, 최대 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisclosureSearchResponse'

  # DS002: 사업보고서 주요정보 (JSON only)
  /irdsSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 증자(감자) 현황
      description: 사업보고서 주요정보 중 증자(감자) 현황을 제공합니다
      operationId: get_irds_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /dvdnd.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 배당에 관한 사항
      operationId: get_dvdnd_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /alotMatter.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 주식총수현황
      operationId: get_alot_matter_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /tesstkAcqsDspsSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 자기주식 취득 및 처분 현황
      operationId: get_tesstk_acqs_dsps_sttusjson
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /hyslrSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 최대주주현황
      operationId: get_hyslr_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /hyslrChgSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 최대주주 변동 현황
      operationId: get_hyslr_chg_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /mrhlSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 소액주주현황
      operationId: get_mrhl_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /exctvSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 임원현황
      operationId: get_exctv_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /empSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 직원현황
      operationId: get_emp_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /hmvAuditAllSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 이사ㆍ감사의 개인별 보수 현황
      operationId: get_hmv_audit_all_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /hmvAudit.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 이사ㆍ감사 전체의 보수현황
      operationId: get_hmv_audit_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /indvdlByPay.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 개인별 보수지급 현황
      operationId: get_indvdl_by_pay_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /otrCprInvstmntSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 타법인 출자현황
      operationId: get_otr_cpr_invstmnt_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /fnlttAuditr.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 감사용역체결현황
      description: 감사용역체결현황 (회계감사인의 명칭 및 감사의견 등)
      operationId: get_fnltt_auditr_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /fnlttAuditrNpay.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 감사용역 비감사용역 보수
      operationId: get_fnltt_auditr_npay_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /outcmpnyDrctr.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 사외이사 및 그 변동현황
      operationId: get_outcmpny_drctr_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /adtAllSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 감사위원회(감사) 현황
      operationId: get_adt_all_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /bnkAsstSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 은행보증 현황
      operationId: get_bnk_asst_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /hyslrOulnrSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 최대주주의 개요
      operationId: get_hyslr_oulnr_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /ctyprSttus.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 회사채 현황
      operationId: get_ctypr_sttus_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /krx.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 증권거래소 관련 정보
      operationId: get_krx_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /entrprsBilScritsNrdmpBlce.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 기업어음증권 미상환 잔액
      operationId: get_entrprs_bil_scrits_nrdmp_blce_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /alotMatterNew.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 주식의 총수 현황
      operationId: get_alot_matter_new_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /shrs.json:
    get:
      tags:
        - DS002 사업보고서 주요정보
      summary: 주주에 관한 사항
      operationId: get_shrs_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

  # DS003: 상장기업 재무정보 (JSON only, preserve XML for XBRL ZIP)
  /fnlttSinglAcnt.json:
    get:
      tags:
        - DS003 상장기업 재무정보
      summary: 단일회사 주요계정
      description: 단일회사의 주요 재무계정 정보를 제공합니다
      operationId: get_fnltt_singl_acnt_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStatementResponse'
                
  /fnlttMultiAcnt.json:
    get:
      tags:
        - DS003 상장기업 재무정보
      summary: 다중회사 주요계정
      description: 다중회사의 주요 재무계정 정보를 제공합니다
      operationId: get_fnltt_multi_acnt_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - name: corp_code
          in: query
          required: true
          description: 공시대상회사의 고유번호(8자리) ※ 복수 입력 가능 (콤마로 구분, 최대 10개)
          schema:
            type: string
            example: "00126380,00164779"
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStatementResponse'
                
  /fnlttXbrl.xml:
    get:
      tags:
        - DS003 상장기업 재무정보
      summary: 재무제표 원본파일(XBRL)
      description: |
        재무제표 원본파일(XBRL) 및 정정 관련 파일을 제공합니다.
        재무제표 원본파일은 ZIP 파일로 제공되며, 정정일자가 있는 경우에는 정정파일을 포함하여 반환합니다.
      operationId: get_fnltt_xbrl
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - name: rcept_no
          in: query
          required: true
          description: 접수번호(8자리)
          schema:
            type: string
            pattern: '^\d{8}$'
        - $ref: '#/components/parameters/reprt_code_xbrl'
      responses:
        '200':
          description: XBRL 재무제표 원본파일 (ZIP)
          content:
            application/zip:
              schema:
                type: string
                format: binary
                
  /fnlttSinglAcntAll.json:
    get:
      tags:
        - DS003 상장기업 재무정보
      summary: 단일회사 전체 재무제표
      description: 단일회사의 전체 재무제표 정보를 제공합니다
      operationId: get_fnltt_singl_acnt_all_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
        - $ref: '#/components/parameters/fs_div'
        - $ref: '#/components/parameters/sj_div'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialStatementResponse'
                
  /fnlttSinglIndx.json:
    get:
      tags:
        - DS003 상장기업 재무정보
      summary: 단일회사 재무비율
      description: 단일회사의 재무비율 정보를 제공합니다
      operationId: get_fnltt_singl_indx_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
        - $ref: '#/components/parameters/idx_cl_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /dprcCtbl.json:
    get:
      tags:
        - DS003 상장기업 재무정보
      summary: 고정자산 감가상각비 명세서
      operationId: get_dprc_ctbl_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /cashFlow.json:
    get:
      tags:
        - DS003 상장기업 재무정보
      summary: 현금흐름표
      operationId: get_cash_flow_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bsns_year'
        - $ref: '#/components/parameters/reprt_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

  # DS004: 지분공시 종합정보 (JSON only)
  /majorstock.json:
    get:
      tags:
        - DS004 지분공시 종합정보
      summary: 대량보유 상황보고
      description: 대량보유 상황보고서의 주요 정보를 제공합니다
      operationId: get_majorstock_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MajorStockResponse'
                
  /elestock.json:
    get:
      tags:
        - DS004 지분공시 종합정보
      summary: 임원ㆍ주요주주 소유보고
      description: 임원 및 주요주주의 소유보고 정보를 제공합니다
      operationId: get_elestock_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

  # DS005: 지분공시 상세정보 (JSON only)
  /astInhtrfEtcPtbkOpt.json:
    get:
      tags:
        - DS005 지분공시 상세정보
      summary: 자산양수도(기타), 풋백옵션
      operationId: get_ast_inhtrf_etc_ptbk_opt_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bgn_de'
        - $ref: '#/components/parameters/end_de'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /sltrDecsn.json:
    get:
      tags:
        - DS005 지분공시 상세정보
      summary: 자율공시
      operationId: get_sltr_decsn_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bgn_de'
        - $ref: '#/components/parameters/end_de'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

  # DS006: 증권신고서 정보 (JSON only)
  /estkRs.json:
    get:
      tags:
        - DS006 증권신고서 정보
      summary: 지분증권
      description: 증권신고서의 지분증권 관련 정보를 제공합니다
      operationId: get_estk_rs_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bgn_de'
        - $ref: '#/components/parameters/end_de'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /detRs.json:
    get:
      tags:
        - DS006 증권신고서 정보
      summary: 채무증권
      operationId: get_det_rs_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bgn_de'
        - $ref: '#/components/parameters/end_de'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /bdwtRs.json:
    get:
      tags:
        - DS006 증권신고서 정보
      summary: 수익증권·증권예탁증권
      operationId: get_bdwt_rs_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bgn_de'
        - $ref: '#/components/parameters/end_de'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /othdRs.json:
    get:
      tags:
        - DS006 증권신고서 정보
      summary: 합병 등
      operationId: get_othd_rs_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bgn_de'
        - $ref: '#/components/parameters/end_de'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /pifricDecsn.json:
    get:
      tags:
        - DS006 증권신고서 정보
      summary: 사모투자·창투사 결정사항
      operationId: get_pifric_decsn_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bgn_de'
        - $ref: '#/components/parameters/end_de'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /invstRs.json:
    get:
      tags:
        - DS006 증권신고서 정보
      summary: 투자설명서
      operationId: get_invst_rs_json
      parameters:
        - $ref: '#/components/parameters/crtfc_key'
        - $ref: '#/components/parameters/corp_code'
        - $ref: '#/components/parameters/bgn_de'
        - $ref: '#/components/parameters/end_de'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

tags:
  - name: DS001 공시정보
    description: 기업의 기본정보 및 공시서류 관련 API
  - name: DS002 사업보고서 주요정보
    description: 사업보고서에 포함된 주요 정보 조회 API
  - name: DS003 상장기업 재무정보
    description: 상장기업의 재무제표 및 재무비율 정보 API
  - name: DS004 지분공시 종합정보
    description: 대량보유, 임원주식 등 지분공시 종합정보 API
  - name: DS005 지분공시 상세정보
    description: 다양한 지분공시 상세정보 API
  - name: DS006 증권신고서 정보
    description: 증권신고서 관련 정보 API