openapi: 3.0.0
info:
  title: 한국은행 경제통계시스템 (ECOS) OpenAPI 서비스 명세서 (최종 수정 버전)
  description: |
    한국은행 경제통계시스템(ECOS)에서 제공하는 통계 데이터 조회 API입니다.
    실제 ECOS API 구조에 맞게 정확히 구성되었습니다.
  version: 1.0.2
servers:
  - url: https://ecos.bok.or.kr/api
    description: 한국은행 경제통계시스템 OpenAPI 기본 URL

paths:
  /StatisticSearch/{auth_key}/{file_type}/{lang}/{start_count}/{end_count}/{stat_code}/{cycle}/{start_period}/{end_period}/{item_code1}:
    get:
      summary: 통계 조회 (실제 ECOS API 구조)
      description: |
        한국은행 ECOS API의 실제 구조에 맞춘 통계 데이터 조회입니다.
        모든 필수 파라미터가 올바른 순서로 배치되었습니다.
      operationId: get_statistic_search
      parameters:
        - name: auth_key
          in: path
          description: "인증키"
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          description: "파일타입 (json, xml)"
          required: true
          schema:
            type: string
            enum: [json, xml]
        - name: lang
          in: path
          description: "언어구분 (kr:국문, en:영문)"
          required: true
          schema:
            type: string
            enum: [kr, en]
        - name: start_count
          in: path
          description: 요청시작건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: end_count
          in: path
          description: 요청종료건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: stat_code
          in: path
          description: "통계표코드 (예: 722Y001)"
          required: true
          schema:
            type: string
        - name: cycle
          in: path
          description: "주기 (A:년, Q:분기, M:월, D:일)"
          required: true
          schema:
            type: string
            enum: [A, Q, M, D]
        - name: start_period
          in: path
          description: "검색시작일자 (YYYYMM 형식)"
          required: true
          schema:
            type: string
        - name: end_period
          in: path
          description: "검색종료일자 (YYYYMM 형식)"
          required: true
          schema:
            type: string
        - name: item_code1
          in: path
          description: "통계항목코드1 (예: 0101000)"
          required: true
          schema:
            type: string
        - name: item_code2
          in: query
          description: "통계항목코드2 (선택사항)"
          required: false
          schema:
            type: string
        - name: item_code3
          in: query
          description: "통계항목코드3 (선택사항)"
          required: false
          schema:
            type: string
        - name: item_code4
          in: query
          description: "통계항목코드4 (선택사항)"
          required: false
          schema:
            type: string
      responses:
        "200":
          description: 성공적인 통계 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticSearchResponse'
        "default":
          description: 오류 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StatisticTableList/{auth_key}/{file_type}/{lang}/{start_count}/{end_count}:
    get:
      summary: 통계표 목록 조회
      description: 서비스 통계표 목록을 조회합니다.
      operationId: get_statistic_table_list
      parameters:
        - name: auth_key
          in: path
          description: 인증키
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          description: "파일타입 (json, xml)"
          required: true
          schema:
            type: string
            enum: [json, xml]
        - name: lang
          in: path
          description: "언어구분 (kr:국문, en:영문)"
          required: true
          schema:
            type: string
            enum: [kr, en]
        - name: start_count
          in: path
          description: 요청시작건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: end_count
          in: path
          description: 요청종료건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: stat_name
          in: query
          description: "통계표명 (선택적)"
          required: false
          schema:
            type: string
      responses:
        "200":
          description: 성공적인 통계표 목록 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticTableListResponse'
        "default":
          description: 오류 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StatisticItemList/{auth_key}/{file_type}/{lang}/{start_count}/{end_count}/{stat_code}:
    get:
      summary: 통계 세부항목 목록 조회
      description: 특정 통계표의 세부항목 목록을 조회합니다.
      operationId: get_statistic_item_list
      parameters:
        - name: auth_key
          in: path
          description: 인증키
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          description: "파일타입 (json, xml)"
          required: true
          schema:
            type: string
            enum: [json, xml]
        - name: lang
          in: path
          description: "언어구분 (kr:국문, en:영문)"
          required: true
          schema:
            type: string
            enum: [kr, en]
        - name: start_count
          in: path
          description: 요청시작건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: end_count
          in: path
          description: 요청종료건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: stat_code
          in: path
          description: 통계표코드
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 성공적인 통계 세부항목 목록 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticItemListResponse'
        "default":
          description: 오류 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /KeyStatisticList/{auth_key}/{file_type}/{lang}/{start_count}/{end_count}:
    get:
      summary: 100대 통계지표 조회
      description: 한국은행의 100대 핵심 통계지표를 조회합니다.
      operationId: get_key_statistic_list
      parameters:
        - name: auth_key
          in: path
          description: 인증키
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          description: "파일타입 (json, xml)"
          required: true
          schema:
            type: string
            enum: [json, xml]
        - name: lang
          in: path
          description: "언어구분 (kr:국문, en:영문)"
          required: true
          schema:
            type: string
            enum: [kr, en]
        - name: start_count
          in: path
          description: 요청시작건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: end_count
          in: path
          description: 요청종료건수
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: 성공적인 100대 통계지표 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyStatisticListResponse'
        "default":
          description: 오류 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StatisticWord/{auth_key}/{file_type}/{lang}/{start_count}/{end_count}/{word}:
    get:
      summary: 통계용어사전 조회
      description: 통계 용어의 정의와 설명을 조회합니다.
      operationId: get_statistic_word
      parameters:
        - name: auth_key
          in: path
          description: 인증키
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          description: "파일타입 (json, xml)"
          required: true
          schema:
            type: string
            enum: [json, xml]
        - name: lang
          in: path
          description: "언어구분 (kr:국문, en:영문)"
          required: true
          schema:
            type: string
            enum: [kr, en]
        - name: start_count
          in: path
          description: 요청시작건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: end_count
          in: path
          description: 요청종료건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: word
          in: path
          description: "검색할 용어 (예: 소비자동향지수)"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 성공적인 통계용어사전 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticWordResponse'
        "default":
          description: 오류 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /StatisticMeta/{auth_key}/{file_type}/{lang}/{start_count}/{end_count}/{data_name}:
    get:
      summary: 통계메타DB 조회
      description: 통계 데이터의 메타데이터를 조회합니다.
      operationId: get_statistic_meta
      parameters:
        - name: auth_key
          in: path
          description: 인증키
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          description: "파일타입 (json, xml)"
          required: true
          schema:
            type: string
            enum: [json, xml]
        - name: lang
          in: path
          description: "언어구분 (kr:국문, en:영문)"
          required: true
          schema:
            type: string
            enum: [kr, en]
        - name: start_count
          in: path
          description: 요청시작건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: end_count
          in: path
          description: 요청종료건수
          required: true
          schema:
            type: integer
            minimum: 1
        - name: data_name
          in: path
          description: "데이터명 (예: 경제심리지수)"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: 성공적인 통계메타DB 조회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticMetaResponse'
        "default":
          description: 오류 응답
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        RESULT:
          type: object
          properties:
            CODE:
              type: string
              description: 오류 코드
            MESSAGE:
              type: string
              description: 오류 설명
    
    StatisticSearchResponse:
      type: object
      properties:
        StatisticSearch:
          type: object
          properties:
            list_total_count:
              type: integer
              description: 전체 목록 개수
            RESULT:
              type: object
              properties:
                CODE:
                  type: string
                  description: 결과 코드
                MESSAGE:
                  type: string
                  description: 결과 메시지
            row:
              type: array
              items:
                type: object
                properties:
                  STAT_CODE:
                    type: string
                    description: 통계표코드
                  STAT_NAME:
                    type: string
                    description: 통계명
                  ITEM_CODE1:
                    type: string
                    description: 통계항목코드1
                  ITEM_NAME1:
                    type: string
                    description: 통계항목명1
                  UNIT_NAME:
                    type: string
                    description: 단위
                  TIME:
                    type: string
                    description: 시점
                  DATA_VALUE:
                    type: string
                    description: 값

    StatisticTableListResponse:
      type: object
      properties:
        StatisticTableList:
          type: object
          properties:
            list_total_count:
              type: integer
              description: 전체 목록 개수
            RESULT:
              type: object
              properties:
                CODE:
                  type: string
                  description: 결과 코드
                MESSAGE:
                  type: string
                  description: 결과 메시지
            row:
              type: array
              items:
                type: object
                properties:
                  STAT_CODE:
                    type: string
                    description: 통계표코드
                  STAT_NAME:
                    type: string
                    description: 통계명
                  ORG_NAME:
                    type: string
                    description: 출처

    StatisticItemListResponse:
      type: object
      properties:
        StatisticItemList:
          type: object
          properties:
            list_total_count:
              type: integer
              description: 전체 목록 개수
            RESULT:
              type: object
              properties:
                CODE:
                  type: string
                  description: 결과 코드
                MESSAGE:
                  type: string
                  description: 결과 메시지
            row:
              type: array
              items:
                type: object
                properties:
                  STAT_CODE:
                    type: string
                    description: 통계표코드
                  STAT_NAME:
                    type: string
                    description: 통계명
                  ITEM_CODE:
                    type: string
                    description: 통계항목코드
                  ITEM_NAME:
                    type: string
                    description: 통계항목명
                  UNIT_NAME:
                    type: string
                    description: 단위

    KeyStatisticListResponse:
      type: object
      properties:
        KeyStatisticList:
          type: object
          properties:
            list_total_count:
              type: integer
              description: 전체 목록 개수
            RESULT:
              type: object
              properties:
                CODE:
                  type: string
                  description: 결과 코드
                MESSAGE:
                  type: string
                  description: 결과 메시지
            row:
              type: array
              items:
                type: object
                properties:
                  CLASS_NAME:
                    type: string
                    description: 통계그룹명
                  KEYSTAT_NAME:
                    type: string
                    description: 통계명
                  DATA_VALUE:
                    type: string
                    description: 값
                  CYCLE:
                    type: string
                    description: 시점
                  UNIT_NAME:
                    type: string
                    description: 단위

    StatisticWordResponse:
      type: object
      properties:
        StatisticWord:
          type: object
          properties:
            list_total_count:
              type: integer
              description: 전체 목록 개수
            RESULT:
              type: object
              properties:
                CODE:
                  type: string
                  description: 결과 코드
                MESSAGE:
                  type: string
                  description: 결과 메시지
            row:
              type: array
              items:
                type: object
                properties:
                  WORD:
                    type: string
                    description: 용어
                  CONTENT:
                    type: string
                    description: 용어설명

    StatisticMetaResponse:
      type: object
      properties:
        StatisticMeta:
          type: object
          properties:
            list_total_count:
              type: integer
              description: 전체 목록 개수
            RESULT:
              type: object
              properties:
                CODE:
                  type: string
                  description: 결과 코드
                MESSAGE:
                  type: string
                  description: 결과 메시지
            row:
              type: array
              items:
                type: object
                properties:
                  LVL:
                    type: string
                    description: 레벨
                  P_CONT_CODE:
                    type: string
                    description: 상위통계항목코드
                  CONT_CODE:
                    type: string
                    description: 통계항목코드
                  CONT_NAME:
                    type: string
                    description: 통계항목명
                  META_DATA:
                    type: string
                    description: 메타데이터